@import "tailwindcss";

:root {
  /* color-scheme: light dark; */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  position: relative;
  /* background-color: #1B1C1D; */
  background-color: #2f2828;
}
/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
  }
} */
